.login {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  padding: 10rem 0;
  border-bottom: 1px #8888 solid;
  justify-items: center;
}

.daftar {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  justify-items: center;
  padding: 5rem 0;
  border-bottom: 1px #8888 solid;
}
s .login-title {
  text-align: center;
  margin-bottom: -20px;
}

.login-input {
  width: 400px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #82e41e;
}

span a {
  color: #82e41e;
}

.login-input input {
  width: 100%;
  padding: 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.login-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.login-daftar {
  padding: 0 10px 0px 10px;
}

.login-daftar input {
  margin: 0 0 0 20px;
  align-items: center;
}

.login-daftar label {
  margin-right: 20px;
}
